@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400');
@import "./typicons.css";

:root {
  --dark-primary-color: #202126;
  --dark-secondary-color: #FECB73;
  --dark-text-color: #CBCEDA;
  --header-height: 100px;
  --content-padding: 150px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  overflow-x: hidden;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: lighter;
  font-size: 15px;
}

body {
  width: 100vw;
  background: var(--dark-primary-color);
  color: var(--dark-text-color);
}

.clear {
  content: ' ';
  clear: both;
  display: block;
}

.right {
  float: right;
}

.left {
  float: left;
}

a:link, a:hover, a:active, a:focus {
  text-decoration: none;
  font-weight: 600;
  color: var(--dark-secondary-color);
}
