@import url(../css/typicons.css);
.clear::after {
  content: ' ';
  clear: both;
  display: block; }

.right {
  float: right; }

.left {
  float: left; }

a {
  text-decoration: none;
  font-weight: 600;
  color: #FECB73; }

[data-content="home"] {
  padding: 50px 0; }
  [data-content="home"] .intro {
    min-height: 300px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 800px) {
      [data-content="home"] .intro {
        padding: 0 20px; } }
    @media only screen and (max-width: 660px) {
      [data-content="home"] .intro {
        padding: 0;
        min-height: auto; } }
    [data-content="home"] .intro > div {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      [data-content="home"] .intro > div > div {
        height: 100%; }
        [data-content="home"] .intro > div > div.me {
          float: left;
          width: 300px; }
          @media only screen and (max-width: 900px) {
            [data-content="home"] .intro > div > div.me {
              width: 200px; } }
          @media only screen and (max-width: 660px) {
            [data-content="home"] .intro > div > div.me {
              display: none;
              float: none; } }
          [data-content="home"] .intro > div > div.me img {
            width: 100%; }
        [data-content="home"] .intro > div > div.info {
          padding: 0 0 0 20px;
          width: calc(100% - 300px); }
          @media only screen and (max-width: 900px) {
            [data-content="home"] .intro > div > div.info {
              width: calc(100% - 200px); } }
          @media only screen and (max-width: 660px) {
            [data-content="home"] .intro > div > div.info {
              width: 100%;
              padding: 0; } }
          [data-content="home"] .intro > div > div.info .j {
            color: #949FD9;
            font-weight: 700; }
          [data-content="home"] .intro > div > div.info .u {
            color: #FECB73;
            font-weight: 900;
            font-size: 2.5rem; }
          [data-content="home"] .intro > div > div.info .d {
            color: #C4C4C4;
            font-weight: 900;
            font-size: 1.2rem; }
          [data-content="home"] .intro > div > div.info .e {
            padding: 5px 0; }
            [data-content="home"] .intro > div > div.info .e span {
              color: #FECB73;
              font-weight: 600;
              cursor: pointer;
              transition: .3s linear all; }
              [data-content="home"] .intro > div > div.info .e span:hover {
                border-bottom: 2px solid #FECB73; }
              [data-content="home"] .intro > div > div.info .e span a {
                text-decoration: none; }

[data-content="works"] {
  margin: 40px 0;
  min-height: 200px; }
  [data-content="works"] > div {
    height: 100%; }
    [data-content="works"] > div .title {
      font-size: .85em;
      float: left;
      width: 25px;
      color: #FECB73; }
      [data-content="works"] > div .title h3 {
        writing-mode: vertical-lr;
        -webkit-writing-mode: vertical-lr;
        -moz-writing-mode: vertical-lr;
        -o-writing-mode: vertical-lr;
        float: left;
        font-weight: 100;
        min-width: 120px; }
    [data-content="works"] > div .works {
      width: calc(100% - 25px);
      float: right;
      padding: 0 0 0 10px; }
      [data-content="works"] > div .works * {
        box-sizing: border-box; }
      [data-content="works"] > div .works .wmore {
        margin: 20px 0;
        text-align: center; }
        @media only screen and (max-width: 500px) {
          [data-content="works"] > div .works .wmore {
            text-align: left;
            margin: 10px 0; } }
        [data-content="works"] > div .works .wmore .wmore-btn {
          border: 1px solid #FECB73;
          width: 120px;
          padding: 10px 24px;
          background: transparent;
          color: #FECB73;
          font-weight: 600px;
          cursor: pointer;
          transition: .3s ease-in-out; }
          @media only screen and (max-width: 500px) {
            [data-content="works"] > div .works .wmore .wmore-btn {
              padding: 10px 24px; } }
          [data-content="works"] > div .works .wmore .wmore-btn:hover {
            background: #FECB73;
            color: #202126; }
      [data-content="works"] > div .works > .clear {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: auto auto auto auto; }
        @media only screen and (max-width: 1500px) {
          [data-content="works"] > div .works > .clear {
            grid-template-columns: auto auto auto; } }
        @media only screen and (max-width: 900px) {
          [data-content="works"] > div .works > .clear {
            grid-template-columns: auto auto; } }
        @media only screen and (max-width: 500px) {
          [data-content="works"] > div .works > .clear {
            grid-template-columns: auto; } }
        [data-content="works"] > div .works > .clear .work .wtitle {
          margin: 0 0 5px 0; }
          [data-content="works"] > div .works > .clear .work .wtitle a {
            transition: .3s ease-in-out; }
            [data-content="works"] > div .works > .clear .work .wtitle a:hover {
              border-bottom: 3px solid #FECB73; }
        [data-content="works"] > div .works > .clear .work .wtech {
          color: #949FD9;
          font-size: .8em;
          margin: 5px 0; }
        [data-content="works"] > div .works > .clear .work .wdesc {
          font-size: .95em; }

[data-content="contact"] {
  background: rgba(0, 0, 0, 0.04);
  margin: 40px 0; }
  [data-content="contact"] > div p {
    margin: 0 0 10px 0;
    line-height: 1.4rem; }
  [data-content="contact"] > div a {
    font-size: 1.1rem;
    font-weight: lighter; }
  [data-content="contact"] > div h2 {
    margin: 10px 0;
    font-weight: lighter;
    color: #FECB73;
    font-size: 1.3em; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

html {
  font-family: 'IBM Plex Mono', monospace;
  text-size-adjust: "100%";
  -webkit-text-size-adjust: "100%";
  -moz-text-size-adjust: "100%";
  -o-text-size-adjust: "100%"; }

body {
  font-size: 16px;
  font-weight: lighter;
  width: 100vw;
  background: #202126;
  color: #CBCEDA;
  position: relative; }

header {
  background: #202126;
  padding: 0 150px;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5; }
  @media only screen and (max-width: 1160px) {
    header {
      padding: 0 60px; } }
  @media only screen and (max-width: 600px) {
    header {
      padding: 0 50px; } }
  @media only screen and (max-width: 420px) {
    header {
      padding: 0 30px; } }
  header > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    header > div #logo img {
      width: 35px; }
    header > div #menu {
      float: left;
      display: block; }
      @media only screen and (max-width: 600px) {
        header > div #menu {
          display: none; } }
      header > div #menu ul {
        list-style: none; }
        header > div #menu ul li {
          float: left;
          margin: 0 25px; }
          header > div #menu ul li:last-child {
            margin-right: 0; }
    header > div #mobile {
      float: left;
      height: 100%;
      align-items: center;
      justify-content: center;
      display: none; }
      @media only screen and (max-width: 600px) {
        header > div #mobile {
          display: flex; } }
      header > div #mobile .icon {
        width: 30px;
        cursor: pointer; }
        header > div #mobile .icon > div {
          height: 1px;
          background: #fff;
          width: 100%;
          margin: 3px 0;
          display: block;
          float: left; }
          header > div #mobile .icon > div:nth-child(2) {
            width: 80%; }
    header > div #mobile-menu {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 5;
      display: none; }
      header > div #mobile-menu .icon {
        width: 40px;
        height: 40px;
        border: 1px solid #fff; }
        header > div #mobile-menu .icon > div {
          width: 100%;
          height: 2px;
          background: #fff; }
          header > div #mobile-menu .icon > div:first-child {
            transform: rotate(45deg); }
          header > div #mobile-menu .icon > div::last-child {
            transform: rotate(20deg); }

main {
  margin-top: 80px;
  padding: 0 150px; }
  @media only screen and (max-width: 1160px) {
    main {
      padding: 0 60px; } }
  @media only screen and (max-width: 600px) {
    main {
      padding: 0 40px; } }
  @media only screen and (max-width: 420px) {
    main {
      padding: 0 30px; } }

footer {
  padding: 0 150px;
  margin-top: 20px;
  overflow: hidden; }
  @media only screen and (max-width: 1160px) {
    footer {
      padding: 0 60px; } }
  @media only screen and (max-width: 600px) {
    footer {
      padding: 0 50px; } }
  @media only screen and (max-width: 420px) {
    footer {
      padding: 0 30px; } }
  footer * {
    overflow: hidden; }
  footer a {
    color: #FECB73; }
  footer > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0; }
  footer .social p {
    font-size: .9em;
    margin-bottom: 3px; }
    footer .social p span::before {
      content: '<';
      font-weight: bold; }
    footer .social p span::after {
      content: '/>';
      font-weight: bold; }
  footer .social ul li {
    float: left;
    margin: 0 3px; }
    footer .social ul li:first-child {
      margin-left: 0; }
    footer .social ul li a {
      float: left;
      transition: .3s ease-in-out; }
      footer .social ul li a:hover {
        color: #CBCEDA; }

/*# sourceMappingURL=styles.css.map */
