@import "./base.css";

header {
  background: var(--dark-primary-color);
  padding: 0 var(--content-padding);
  height: var(--header-height);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

header > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo img {
  width: 35px;
}

#menu {
  float: left;
}

#menu ul {
  list-style: none;
}

#menu ul li {
  float: left;
  margin: 0 20px;
}

#menu ul li:last-child {
  margin-right: 0;
}

#mobile {
  float: left;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: none;
}

#mobile-mobile {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  display: none;
}

#mobile-mobile .icon {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
}

#mobile-mobile .icon > div {
  width: 100%;
  height: 2px;
  background: #fff;
}

#mobile-mobile .icon > div:first-child {
  transform: rotate(45deg);
}

#mobile-mobile .icon > div:last-child {
  transform: rotate(20deg);
}

#mobile .icon {
  width: 30px;
  cursor: pointer;
}

#mobile .icon > div {
  height: 1px;
  background: #fff;
  width: 100%;
  margin: 3px 0;
  display: block;
  float: right
}

#mobile .icon > div:nth-child(2) {
  width: 80%;
}

main {
  margin-top: var(--header-height);
  padding: 0 var(--content-padding);
}

main > div {
  display: none;
}

main > div.active {
  display: block;
}

footer {
  padding: 0 var(--content-padding);
  margin-top: 20px;
  height: 100px;
  overflow: hidden !important;
}

footer * {
  overflow: hidden;
}

footer a {
  color: var(--dark-secondary-color)
}

footer > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

footer .social p {
  font-size: .9em;
  margin-bottom: 3px;
}

footer .social ul li {
  float: left;
  margin: 0 3px;
}

footer .social ul li:first-child {
  margin-left: 0;
}

footer .social ul li a {
  float: left;
  transition: .3s ease-in-out;
}

footer .social ul li a:hover {
  color: var(--dark-text-color);
}

footer .copyright p span::before {
  content: '<';
  font-weight: bold;
}

footer .copyright p span::after {
  content: ' />';
  font-weight: bold;
}

/* Home */
main > div[data-content="home"] {
  padding: 50px 0;
}

.intro {
  min-height: 300px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro > div > div {
  height: 100%;
}

.intro > div .me {
  float: left;
  width: 300px;
}

.intro > div .me img {
  width: 100%;
}

.intro > div .info {
  padding: 0 0 0 30px;
  width: calc(100% - 300px);
}

.info .j {
  color: #949FD9;
  font-weight: 700;
}

.info .u {
  color: var(--dark-secondary-color);
  font-weight: 900;
  font-size: 3.0rem;
}

.info .d {
  color: #C4C4C4;
  font-weight: 900;
  font-size: 1.2rem;
}

.info .e {
  padding: 5px 0;
}

.info .e span {
  color: var(--dark-secondary-color);
  font-weight: 600;
  cursor: pointer;
  transition: .3s linear all;
}

.info .e span:hover {
  border-bottom: 2px solid var(--dark-secondary-color);
}