[data-content="contact"] {
  background: rgba(0, 0, 0, 0.04);
  margin: 30px 0;
  padding: 20px 0;

  & > div {
    p {
      margin: 0 0 10px 0;
      line-height: 1.6rem;
    }

    a {
      font-size: 1.1rem;
      font-weight: lighter;
    }

    h2 {
      margin: 10px 0;
      font-weight: bold;
      color: $secondary-color;
      font-size: 1.3em;
    }
  }
}