$primary-color: #202126;
$secondary-color: #FECB73;
$text-color: #CBCEDA;

$header-height: 80px;

$content-padding: 150px;
$content-padding-md: 100px;
$content-padding-sm: 60px;
$content-padding-xm: 20px;
