[data-content="works"] {
  margin: 40px 0;
  min-height: 200px;
  
  & > div {
    height: 100%;

    .title {
      font-size: .85em;
      float: left;
      width: 25px;
      color: $secondary-color;

      h3 {
        @include vendorPrefix(writing-mode, vertical-lr);
        float: left;
        font-weight: 100;
        min-width: 120px;
      }
    }

    .works {
      width: calc(100% - 25px);
      float: right;
      padding: 0 0 0 10px;
      
      * {
        box-sizing: border-box;
      }

      .wmore {
        margin: 20px 0;
        text-align: center;


        @media only screen and (max-width: 500px) {
          text-align: left;
          margin: 10px 0;
        }

        .wmore-btn {
          border: 1px solid $secondary-color;
          width: 120px;
          padding: 10px 24px;
          background: transparent;
          color: $secondary-color;
          font-weight: 600px;
          cursor: pointer;
          transition: .3s ease-in-out;

          @media only screen and (max-width: 500px) {
            padding: 10px 24px;
          }

          &:hover {
            background: $secondary-color;
            color: $primary-color;
          }
        }
      }

      & > .clear {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: auto auto auto auto;

        @media only screen and (max-width: 1500px) {
          grid-template-columns: auto auto auto;
        }

        @media only screen and (max-width: 900px) {
          grid-template-columns: auto auto;
        }

        @media only screen and (max-width: 500px) {
          grid-template-columns: auto;
        }

        .work {
          .wtitle {
            margin: 0 0 5px 0;

            a {
              transition: .3s ease-in-out;

              &:hover {
                border-bottom: 3px solid $secondary-color;
              }
            }
          }

          .wtech {
            color: #949FD9;
            font-size: .8em;
            margin: 5px 0;
          }

          .wdesc {
            font-size: .95em;
          }
        }
      }
    }
  }
}