@import './variables',
        './mixins',
        '../css/typicons.css',
        './base',
        './home',
        './works',
        './contact';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-family: 'IBM Plex Mono', monospace;
  @include vendorPrefix('text-size-adjust', '100%');
}

body {
  font-size: 16px;
  font-weight: lighter;
  width: 100vw;
  background: $primary-color;
  color: $text-color;
  position: relative;
}

header {
  background: $primary-color;
  padding: 0 $content-padding;
  height: $header-height;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  @media only screen and (max-width: 1160px) {
    padding: 0 60px;
  }

  @media only screen and (max-width: 600px) {
    padding: 0 50px;
  }

  @media only screen and (max-width: 420px) {
    padding: 0 30px;
  }


  & > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    #logo {
      img {
        width: 35px;
      }
    }

    #menu {
      float: left;
      display: block;

      @media only screen and (max-width: 600px) {
        display: none;
      }

      ul {
        list-style: none;

        li {
          float: left;
          margin: 0 25px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    #mobile {
      float: left;
      height: 100%;
      align-items: center;
      justify-content: center;
      display: none;

      @media only screen and (max-width: 600px) {
        display: flex;
      }

      .icon {
        width: 30px;
        cursor: pointer;

        & > div {
          height: 1px;
          background: #fff;
          width: 100%;
          margin: 3px 0;
          display: block;
          float: left;

          &:nth-child(2) {
            width: 80%;
          }
        }
      }
    }

    #mobile-menu {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 5;
      display: none;

      .icon {
        width: 40px;
        height: 40px;
        border: 1px solid #fff;

        & > div {
          width: 100%;
          height: 2px;
          background: #fff;

          &:first-child {
            transform: rotate(45deg);
          }

          &::last-child {
            transform: rotate(20deg);
          }
        }
      }
    }
  }
}

main {
  margin-top: $header-height;
  padding: 0 $content-padding;

  @media only screen and (max-width: 1160px) {
    padding: 0 60px;
  }

  @media only screen and (max-width: 600px) {
    padding: 0 40px;
  }

  @media only screen and (max-width: 420px) {
    padding: 0 30px;
  }

}

footer {
  padding: 0 $content-padding;
  margin-top: 20px;
  overflow: hidden;

  @media only screen and (max-width: 1160px) {
    padding: 0 60px;
  }

  @media only screen and (max-width: 600px) {
    padding: 0 50px;
  }

  @media only screen and (max-width: 420px) {
    padding: 0 30px;
  }

  * {
    overflow: hidden;
  }

  a {
    color: $secondary-color;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  }

  .social {
    p {
      font-size: .9em;
      margin-bottom: 3px;

      span {
        &::before {
          content: '<';
          font-weight: bold;
        }

        &::after {
          content: '/>';
          font-weight: bold;
        }
      }
    }

    ul {
      li {
        float: left;
        margin: 0 3px;

        &:first-child {
          margin-left: 0;
        }

        a {
          float: left;
          transition: .3s ease-in-out;

          &:hover {
            color: $text-color;
          }
        }
      }
    }
  }
}